body {
    font-family: Arial, sans-serif;
    background-color: white;
    color: white;
}

.header {
    background-color: #202060;
    padding: 10px 0;
    text-align: center;
}

.nav__links {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav__link {
    display: inline;
    margin: 0 10px;
}

.nav__link a {
    text-decoration: none;
    color: white;
}

.btn2 {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
}

.onde-comprar-container {
    margin: 20px;
    color:white;
}

.lojas {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.lojas li {
    margin-bottom: 20px;
}

.loja {
    background-color: #2E2E6E;
    padding: 20px;
    border-radius: 10px;
}

.loja img {
    max-width: 100px;
    display: block;
    margin: 0 auto 10px;
}

.loja h3 {
    text-align: center;
    margin-bottom: 10px;
    color: white;
}

.loja p {
    font-size: 0.9rem;
    text-align: justify;
    line-height: 1.4;
    color: white;
}

.btn2-loja {
    display: block;
    width: fit-content;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: #4CAF50;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
}
