/* Adicione este bloco no seu arquivo de estilo CSS */

.lojas {
    list-style: none;
    padding: 0;
}

.loja {
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #181947;
}

.loja img {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}

.h3 {
    margin-top: 0;
    color: white;
}

.p {
    margin-bottom: 10px;
    font-size: 0.9em;
    line-height: 1.4;
    color: #181947;
}

.btn-loja {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    color:white;
}

.btn-loja:hover {
    background-color: #0056b3;
}
